
@{
    ViewBag.Title = "HeroList";
}

<div class="well"><h1>LOL英雄人物(Bootstrap版)</h1></div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabs_annie">Annie</a></li>
    <li><a data-toggle="tab" href="#tabs_braum">Braum</a></li>
    <li><a data-toggle="tab" href="#tabs_caitlyn">Caitlyn</a></li>
    <li><a data-toggle="tab" href="#tabs_fizz">Fizz</a></li>
    <li><a data-toggle="tab" href="#tabs_nunu">Nunu</a></li>
</ul>

<div class="tab-content">
    <div id="tabs_annie" class="tab-pane fade in active">
        <h1>黑暗之女 安妮 </h1>
        <p>安妮的血統和出生地的黑暗魔法，讓她擁有驚人的秘術能量。</p>
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Annie_3.jpg" />
    </div>
    <div id="tabs_braum" class="tab-pane fade">
        <h1>弗雷爾卓德豪腕 布郎姆</h1>
        <p>布郎姆是有史以來最強壯的男人，擁有神奇的魔法重盾。</p>
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Braum_1.jpg" />
    </div>
    <div id="tabs_caitlyn" class="tab-pane fade">
        <h1>執法者 凱特琳</h1>
        <p>凱特琳從不向犯罪低頭，是城邦中最厲害的神槍手。</p>
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_2.jpg" />
    </div>
    <div id="tabs_fizz" class="tab-pane fade">
        <h1>深海頑童 飛斯</h1>
        <p>飛斯在戰鬥時，讓比爾吉沃特最善戰的水手看起來像個喝醉的旱鴨子。</p>
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Fizz_0.jpg" />
    </div>
    <div id="tabs_nunu" class="tab-pane fade">
        <h1>雪人騎士 努努 </h1>
        <p>努努和威朗普的雙人組合有著年輕人的衝勁和野獸的蠻力，兩者互相補足對方的劣勢，更可以說是跨越了不少常人難以跨越的障礙和阻撓。</p>
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Nunu_0.jpg" />
    </div>
</div>

@section topCSS{
<style>
    div.well {
        background-color: lightgreen !important;
        margin-top:5px;
    }

    div.well > h1 {
        text-align: center;
        
    }

    li.active > a {
        color: white !important;
        background-color: dodgerblue !important;
    }

    a[data-toggle="tab"] {
        border: 1px solid gray !important;
        width: 80px;
        text-align: center;
    }

    ul.nav{
        border-bottom: 1px solid black;
    }

    img{
        width:100%;
        height:auto;
    }
</style>
}