@{
    ViewBag.Title = "CarsList";
}

<div data-role="header" data-add-back-btn="true">
    <a href="#" data-role="button" data-rel="back" data-theme="b">返回</a>
    <h1>各類型汽車及價格參考</h1>
</div>

<div data-role="content">
    <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
        <!--轎車-->
        <li data-role="list-divider"><h1>轎車</h1></li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/Mercedes_AMG_S63.jpg" />
                
                <h2>Mercedes-AMG S63</h2>
                <p>價格:$145,695</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/Audi_S8.jpg" />
                <h2>Audi S8</h2>
                <p>價格:$116,875</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/BMW_M3.jpg" />
                <h2>BMW M3</h2>
                <p>價格:$66,495</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/AlfaRomeo_GiuliaQuadrifoglio.jpg" />
                <h2>Alfa Romeo Giulia Quadrifoglio</h2>
                <p>價格:$73,595</p>
            </a>
        </li>
        <!--SUV-->
        <li data-role="list-divider"><h1>SUV</h1></li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/MercedesBenz_GLS.jpg" />
                <h2>MercedesBenz GLS Class</h2>
                <p>價格:$68,045</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/Porsche_Cayenne.jpg" />
                <h2>Porsche Cayenne</h2>
                <p>價格:$60,650</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/Honda_CRV.jpg" />
                <h2>Honda CR-V</h2>
                <p>價格:$24,985</p>
            </a>
        </li>
        <!--跑車-->
        <li data-role="list-divider"><h1>跑車</h1></li>
        <li data-icon="false">
            <a href="#">
                <img src="~/Assets/Images/cars/Bugatti_Chiron.jpg" />
                <h2>Bugatti Chiron</h2>
                <p>價格:$2,998,000</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="../Assets/Images/cars/Lamborghini_Huracan.jpg" />
                <h2>Lamborghini Huracan</h2>
                <p>價格:$203,295</p>
            </a>
        </li>
        <li data-icon="false">
            <a href="#">
                <img src="../Assets/Images/cars/Porsche_718Boxster.jpg" />
                <h2>Porsche 718 Boxster</h2>
                <p>價格:$57,050</p>
            </a>
        </li>
    </ul>
</div>
