<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/20b364e4-43f3-4940-8cb2-7c2876c5b2ca/resourcegroups/Mvc5App/providers/Microsoft.Web/sites/Mvc5Azure20190326015852</ResourceId>
    <ResourceGroup>Mvc5App</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvc5azure20190326015852.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvc5azure20190326015852.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Mvc5Azure20190326015852</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Mvc5Azure20190326015852</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmployeeContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvc5azure201903260158521dbserver.database.windows.net,1433;Initial Catalog=Mvc5Azure20190326015852_db;User ID=ironskymax@mvc5azure201903260158521dbserver;Password=Skymax.069*" Name="Data Source=tcp:mvc5azure201903260158521dbserver.database.windows.net,1433;Initial Catalog=Mvc5Azure20190326015852_db;User Id=ironskymax@mvc5azure201903260158521dbserver;Password=Skymax.069*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Mvc5Azure.Models.EmployeeContext, Mvc5Azure" MigrationConfiguration="Mvc5Azure.Migrations.Configuration, Mvc5Azure" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EmployeeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvc5azure201903260158521dbserver.database.windows.net,1433;Initial Catalog=Mvc5Azure20190326015852_db;User Id=ironskymax@mvc5azure201903260158521dbserver;Password=Skymax.069*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>