@if (Request.Browser.IsMobileDevice && Request.HttpMethod == "GET")
{
    if (ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
    {
        <div >
            @Html.ActionLink("切換至Bootstrap Desktop view", "SwitchView", "ViewSwitcher", new { mobile = false, returnUrl = Request.Url.PathAndQuery }, new { @class = "ui-btn", rel = "external" })
        </div>
    }
    else
    {
        @Html.ActionLink("切換至jQuery Mobile view", "SwitchView", "ViewSwitcher", new { mobile = true, returnUrl = Request.Url.PathAndQuery }, new { rel = "external" })
    }
}