@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Title = "Single Page";
}


<img src=@ViewBag.Image alt="悟空" />
<p>
    @ViewBag.Introduction
</p>

@section topCSS{
<style>
    p {
        border: 1px solid black;
        border-radius: 5px;
        background-color: greenyellow;
        padding: 15px;
    }

    img {
        width: 100%;
        height: auto;
    }

    h1.ui-title {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
</style>

}