@model firstMVC.Models.Friend

@{
    ViewBag.Title = "Object Initializer with Named Type";
}

<div class="jumbotron alert-success">
    <h3>Object Initializer with Named Type</h3>
</div>

<ul>
    <li>姓名 : @Model.Name</li>
    <li>國藉 : @Model.Country</li>
</ul>


